#header {
    background: rgb(0, 62, 69);
    color: #ffffff;
}

#branding h1 {
    color: white;
}

div.breadcrumbs {
    background: rgb(61, 88, 106);
    color: white;
}

.login .submit-row {
    padding: 0px;
}

.submit-row input {
    background: rgb(0, 62, 69);
}

.module h2,
.module caption,
.inline-group h2 {
    background: rgb(0, 62, 69);
}

.button.default,
input[type=submit].default,
.submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: rgb(0, 62, 69);
}