
{% extends 'base_auth.html' %}
{% load static %}
{% block  content%}

<div class="row" align="center">
    <div class="col-md-4"></div>
    <div class="col-md-4"> 
    <div class='card mt-5'>
    <div class='card-body'>
        <div class='card-title px-3'>
           <h4>Please enter your email to get reset link</h4>
        </div>
            <form action="{% url 'request-password' %}" method="post">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}


                <div class="form-group" style="margin-top:10px">
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        class="form-control form-control-sm"
                        id="emailField"
                        value="{{values.email}}"
                    />
                </div>
                <div class="emailFeedbackarea invalid-feedback" style="display:none"></div>
                </div>
                <input type="submit" value="Submit" class="btn btn-block btn-primary submitBtn"/>
            </form>
            <div class="container">
            <span class="test-lead lead">Have an account? </span><a href="{% url 'login' %}"> Login</a><br/>
            <span class="test-lead lead">Don't have an account?</span><a href="{% url 'register' %}"> Register</a>
        </div>
        </div>
    </div> 
    </div>
    <div class="col-md-4"> 
    </div>
    </div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock  %}