
{% extends 'base_auth.html' %}
{% load static %}
{% block  content%}

<div class="row" align="center">
    <div class="col-md-4"></div>
    <div class="col-md-4"> 
    <div class='card mt-5'>
    <div class='card-body'>
        <div class='card-title px-3'>
           <h4>Set your new password</h4>
        </div>
            <form action="{% url 'reset-user-password' uidb64 token  %}" method="post">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}

                <div class="form-group" style="margin-top:10px">
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        class="form-control form-control-sm"
                        id="passwordField"
                    />
                <small class="showPasswordToggle" style="float: right; margin:5px; py-2; cursor: pointer;">SHOW</small>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <input
                        type="password"
                        name="password2"
                        placeholder="Confirm Password"
                        class="form-control form-control-sm"
                        id="passwordField1"
                    />
                <small class="showPasswordToggle1" style="float: right; margin:5px; py-2; cursor: pointer;">SHOW</small>
                </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-block btn-primary submitBtn"/>
            </form>
            <div class="container">
            <span class="test-lead lead">Have an account? </span><a href="{% url 'login' %}"> Login</a><br/>
            <span class="test-lead lead">Don't have an account?</span><a href="{% url 'register' %}">Register</a>
        </div>
        </div>
    </div> 
    </div>
    <div class="col-md-4"> 
    </div>
    </div>
</div>

<script src="{% static 'js/reset_password.js' %}"></script>
{% endblock  %}