{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_messages.html'%}
<div class="container mt-4">
     <div class="row">
        <div class="col-md-10" >
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Incomes Summary</a></li>
                <li class="breadcrumb-item active" aria-current="page">summary</li>
            </ol>
            </nav>
        </div>
        <div claas="col-md-2">
            <a href="" class="btn btn-primary">Summary</a>
        </div>
        </div>
    <canvas id="myChartIncome" width="400" height="300"></canvas>
    </div>
</div>

<script src="{% static 'js/statsIncome.js' %}"></script>
{% endblock %}

